@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
  }
  h2 {
    @apply text-3xl tracking-tighter font-bold mb-3 lg:text-5xl;
  }
  h3 {
    @apply text-2xl font-bold mb-3;
  }
  h4 {
    @apply text-xl font-bold mb-2;
  }
  a {
    @apply text-pink-400;
  }
  body {
    @apply bg-gray-800 text-white;
  }
  p {
    @apply mb-3;
  }
  article {
    @apply mb-4;
  }
}

@layer components {
  .tag {
    @apply bg-blue-700 text-white text-sm font-medium py-1 px-2 mx-0.5 rounded align-middle;
  }
}
